rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated()
        && request.auth.token.email in ['emmajnr1000@gmail.com','olubiyoolamide@gmail.com'];
    }

    match /images/{allPaths=**} {
      allow read: if true;
      allow write, delete: if isAdmin();
    }
  }
}
